body{
    font-family: arial;
}

.js-todo-input,.js-date-input{
    font-size: 15px;
    padding: 6px;
}

/* .js-date-input{
    height: 32px;
    margin-right: 10px;
} */

/* .add-button{
    height: 36px;
    background-color: green;
    color: white;
    border: none;
    width: 60px;
} */

.container,.todo-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid{
    margin-bottom: 10px;
    align-items: stretch;
}

.add-button{
    background-color: green;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete-button{
    background-color: darkred;
    color: white;
    border:none;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}